.loginForm{
	position: relative;
	// height: 70vh;
	box-sizing: border-box;
	background-color: rgb(235, 235, 235);
	padding: 20px 20px 60px;
	border-radius: .5rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: min-content;
	grid-gap: 20px 3px;
	margin: 0 3vw;
	box-shadow: 10px 10px 50px -20px black;
	input[type="submit"]{
		grid-column: span 2;
		width: 50%;
		margin: 0 auto;
		padding: 7px 14px;
		background-color: rgb(83, 83, 83);
		color: white;
		&:hover{
			background-color: rgb(99, 99, 99);
		}
	}
	@media (min-width: 520px){
		max-width: 490px;
		margin: 0 auto;
	}
	.passwordContainer{
		position: relative;
		input{
			width: 12px;
			position: absolute;
			right: 10px;
			top: 3px;
			&:hover::after{
				content: "show/hide password";
				width: 300px;
				font-size: 10px;
				color: rgb(116, 116, 116);
				position: relative;
				top: -12px;
				left: -49px;
			}
		}
	}
}