.modal{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	padding: 200px 20px;
	text-align: center;
	.info{
		width: 200px;
		margin: 0 auto;
		background-color: rgb(53, 53, 53);
		padding: 25px 45px;
		border-radius: 10px;
	}
	.loading{

	}
}