$red: #d92626;
$green: rgb(0, 139, 0);
$black: rgb(34, 34, 34);
$white: rgb(241, 241, 241);
$blue: rgb(0, 146, 190);
$text: $blue;
$primary-color: $blue;
$secondary-color: darken($primary-color, 30%);


.ChuckNorrisApp{
  font-size: 20px;
  background-color: $white;
  color: $text;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
}

a{
  text-decoration: none;

  &:active, &:focus, &:visited{
    color: black;
  }
}
input{
  box-sizing: border-box;
  padding-left: 15px;
  border: none;
  width: 100%;
  max-height: 25px;
  border-radius: 5px;
	transition: all .2s ease-in-out;
  &:active, &:focus {
    outline: none;
  }
  &:hover{
    background-color: rgb(247, 247, 197);
    cursor: pointer;
  }
}

.page{
  width: 100%;
  box-sizing: border-box;
  height: calc(100vh - 48px);
  background: linear-gradient(rgb(221, 220, 220) 10%, rgb(179, 178, 178));
  padding: 10vh 3vw;
}