$red: #d92626;
$green: rgb(0, 139, 0);
$black: rgb(34, 34, 34);
$white: rgb(241, 241, 241);
$blue: rgb(0, 146, 190);
$primary-color: $blue;
$secondary-color: darken($primary-color, 30%);


#ChuckNorrisApp{
  font-size: 20px;
  background-color: $white;
  color: $primary-color;
  width: 100vw;
  min-height: 100vh;

}

a{
  text-decoration: none;

  &:active, &:focus, &:visited{
    color: black;
  }
}
input{
  padding: 5px 15px;
  border: none;
  width: 80%;
  max-height: 25px;
  border-radius: 5px;
	transition: all .2s ease-in-out;
  &:active, &:focus {
    outline: none;
  }
  &:hover{
    background-color: rgb(247, 247, 197);
  }
}

.page{
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgb(221, 220, 220) 10%, rgb(179, 178, 178));
}